@charset "UTF-8";

/*
Author: jibin
Author URI: http://www.houjibin.com/
Author mail: gagucooper@gmail.com
Version: 1.0
Last Updated: 2013-07-16
-------------------------------------------------------------- */

/*
 
1. GLOBAL STYLES
-------------------------------------------------------------------
1.0 Common
 
 
2. MAIN PAGE ELEMENTS
-------------------------------------------------------------------
2.1 Header
	2.1.1 Logo
	2.1.2 Nav
2.2 Container
	2.2.1 Banner
	2.2.2 Modules
	2.2.3 Tabs
	2.2.4 Menu
	2.2.5 Crumbs
	2.2.6 List
	2.2.7 Page
	2.2.8 Form
	2.2.9 details
2.3 Footer

*/


/* 1.0 Common
----------------------------------------------- */
.block { display: block; }
.hidden { display: none; }
.overflow { overflow: hidden; }
.inline { display: inline; }
.inline-block { display: -moz-inline-stack; display: inline-block; -webkit-text-size-adjust: none; /* for chrome zh_CN 解决间隙 */ font-size: 0; *display: inline; zoom: 1; }

.pos-rel { position: relative; }
.pos-abs { position: absolute; }

.fl { float: left; }
.fr { float: right; }
.fn { float: none; }
.al { text-align: left; }
.ac { text-align: center; }
.ar { text-align: right; }
.at { vertical-align: top; }
.am { vertical-align: middle; }
.ab { vertical-align: bottom; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; font-size: 0; line-height: 0; }
.cf:before, .cf:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.cf:after { clear: both; }
.cf { zoom: 1; }

.color-red { color: #F02813; }
.color-gray { color: #999; }
.link-gray a { color: #999; }
.link-blue a { color: #36c; }

.mb-15 { margin-bottom: 15px; }
.pb-15 { padding-bottom: 15px; }
.mt-15 { margin-top: 15px; }

.icon-big {
	display: inline-block;
	width: 214px;
	height: 152px;
	overflow: hidden;
	background: url(../images/icon-large.png) no-repeat;
}
.icon-big1 {
	background-position: 50% 0;
}
.icon-big2 {
	background-position: 50% -154px;
}
.icon-big3 {
	background-position: 50% -310px;
}
.icon-big4 {
	background-position: 50% -470px;
}

.ie6 #nav ul li a {
	display: inline; /* 解决ie6双间距bug */
}

/*
2. MAIN PAGE ELEMENTS
------------------------------------------------------------------- */
body { 
	width: 100%;
	height: 100%;
	color: #666;
	background: #fff url(../images/bg-body.jpg) repeat-x top center;
}

.wrapper {
	width: 100%;
}
.gridsystem {
	width: 960px;
	margin: 0 auto;
}
.grid-1 {
	width: 240px;
}
.grid-2 {
	width: 700px;
}

/* 2.1 Header
----------------------------------------------- */
.header-top {
	height: 85px;
	background: url(../images/bg-header.jpg) no-repeat 0 -2px;
}

/* 2.1.1 Logo
--------------------------- */
#logo {
    width: 230px;
    height: 70px;
    float: left;
    position: relative;
    top: 15px;
    left: 0;
}

#topbar {
	float: right;
	color: #535353;
	position: relative;
    top: 40px;
    left: 0;	
}
#topbar ul {                                                                                                   
	float: right;
}
#topbar ul li {
	float: left;
	margin-right: 10px;
}
#topbar ul li a {
	color: #535353;
	text-shadow: 0 1px 1px #fff;
}

/* 2.1.2 Nav
--------------------------- */
.header-bottom {
	margin-bottom: 25px;
}
#nav {
	float: left;
}
#nav ul li {
	float: left;
}
#nav ul li a {
	float: left;
	height: 56px;
	line-height: 56px;
	overflow: hidden;
	text-align: center;
	margin-right: 30px;
	color: #535353;
	font-size: 18px;
	padding: 0 10px;
	font-weight: normal;
	display: block;
	text-shadow: 0 1px 1px #fff;
	background: url(../images/bg-nav.png) no-repeat -300px bottom;
}
#nav ul li a:hover {
	color: #2694cd;
	text-shadow: 0 1px 1px #999;
	text-decoration: none;
	background: url(../images/bg-nav.png) no-repeat center bottom;
}
#nav ul li a.acitve {
	color: #2694cd;
	text-shadow: 0 1px 1px #999;
	text-decoration: none;
	background: url(../images/bg-nav.png) no-repeat center bottom;
}

.header-search {
	float: right;
	width: 228px;
	height: 34px;
	position: relative;
	top: 10px;
	background: #fff;
	border: 1px solid #d8d8d8;
	border-radius: 20px;
}
.search-txt {
	width: 165px;
	height: 26px;
	line-height: 26px;
	margin: 4px 6px 0 16px;
	background: #fff;
	color: #333;
	border: 0 none;
}
.search-btn {
	width: 25px;
	height: 26px;
	overflow: hidden;
	border: 0 none;
	background: url(../images/btn-search.png) no-repeat;
	text-indent: -9999px;
	position: relative;
	top: 1px;
}

/* 2.2 Container
----------------------------------------------- */

/* 2.2.1 Banner
--------------------------- */
.banner-wrap {
	margin-bottom: 20px;
	overflow: hidden;
	background: #fff;
}
.banner-wrap img {
	border-radius: 5px;
}

/* 2.2.2 Modules
--------------------------- */
.features {
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	background: #fff;
}
.features ul li {
	float: left;
	width: 210px;
	min-height: 300px;
	padding: 15px 14px 20px;
	border-right: 1px solid #cdcdcd;
}
.features ul li:last-child {
	border-right: 0 none;
	padding-right: 0px;
}
.features dl {
	min-height: 150px;
}
.features dl dt {
	font-size: 24px;
	color: #474747;
	margin: 10px 0 20px;
	text-align: center;
	text-shadow: 0 1px 1px #999;
}
.features dl dd {
	color: #474747;
}

.btn-more {
	text-align: center;
}

/* 2.2.4 Menu
--------------------------- */
.menu-wrap {
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
	min-height: 500px;
}
.menu-hd {
	border-radius: 5px 5px 0 0;
	height: 60px;
	overflow: hidden;
	line-height: 48px;
	background: #2694cd url(../images/icon-middle.png) no-repeat;
}
.menu-hd h2 {
	font-size: 18px;
	color: #fff;
	font-weight: normal;
	text-shadow: 1px 1px 2px #666;
	padding-left: 70px;
}
.menu-hd h2 span {
	font-size: 12px;
	position: relative;
	top: -32px;
}

.menu-bd ul li a {
	display: block;
	height: 36px;
	line-height: 36px;
	padding: 0 20px;
	border-bottom: 1px solid #ccc;	
	color: #000;
	background: url(../images/icon-small.png) no-repeat -90% -213px;
}
.menu-bd ul li a:hover {
	color: #2694cd;
	text-decoration: none;
	background: #dad9d9 url(../images/icon-small.png) no-repeat 90% -213px;
}
.menu-bd ul li a.active, .menu-bd ul li a.active:hover {
	color: #2694cd;
	text-decoration: none;
	cursor: default;
	background: #dad9d9 url(../images/icon-small.png) no-repeat 90% -213px;
}

.icon-aboutus {
	background-position: 10px  8px;
}
.icon-pro {
	background-position: 10px  -118px;
}
.icon-solution {
	background-position: 10px  -56px;
}


/* 2.2.9 details
--------------------------- */
.title-wrap {
	border-bottom: 1px dashed #ccc;
	padding-bottom: 6px;
}
.title {
	height: 20px;
	line-height: 20px;
	float: left;
	background: url(../images/icon-small.png) no-repeat;
}
.title h3 {
	color: #333;
	font-size: 18px;
	font-weight: normal;
	padding: 0 40px 0 30px;
	background: url(../images/icon-small.png) no-repeat right -180px;
}
.crumbs {
	float: right;
}
.crumbs span {
	padding: 0 5px;
}
.crumbs em {
	color: #2694cd;
}
.icon-small1 {
	background-position: 0 0;
}
.icon-small2 {
	background-position: 0 -46px;
}
.icon-small3 {
	background-position: 0 -92px;
}
.icon-small4 {
	background-position: 0 -138px;
}

.details-wrap, .details-wrap2 {
	padding: 20px 0;
	color: #000;
	min-height: 435px;
}
.details-wrap h5, .details-wrap2 h5 {
	margin-bottom: 10px;
}
.details-wrap p {
	line-height: 200%;
	padding-bottom: 26px;
	text-indent: 2em;
}
.details-wrap2 p {
	line-height: 200%;
	padding-bottom: 26px;
}
.details-wrap ul li {
	line-height: 200%;
}
.details-wrap .list2 li {
	text-indent: 2em;
}

.contentus-wrap {
	height: 257px;
	color: #fff;
	padding: 0 30px 0 430px;
	background: #2694cd url(../images/pic-service.jpg) no-repeat left;
}
.contentus-wrap p {
	line-height: 180%;
	padding-top: 40px;
}

.join-wrap {
	width: 940px;
	height: 992px;
	margin: 0 auto;
	padding: 1px;
	background: url(../images/bg-paper.jpg) no-repeat top center;
}
.join-content {
	margin: 80px 40px 92px 60px;
	width: 840px;
	height: 820px;
	overflow-x: hidden; 	
	overflow-y: auto;
}
.join-content p {
	text-indent: 0;
	padding-bottom: 20px;
}
.job-list dl {
	margin-bottom: 30px;
}
.job-list dl dt {
	line-height: 180%;
}
.job-list dl dd {
	line-height: 180%;
}
.job-hr {
	color: #2694CD;
}

/* 2.3 Footer
----------------------------------------------- */
#footer {
	padding: 20px 10px 30px 0;
	color: #474747;
}

#footer-links {
	text-align: right;
}
#footer-links ul {                                                                                                   
	float: left;
}
#footer-links ul li {
	float: left;
	margin-right: 15px;
}
#footer-links ul li a {
	color: #474747;
}
#copyright p {
	padding-bottom: 5px;
}
#copyright span {
	padding: 0 5px;
}